.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.MuiDrawer-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MuiDrawer-paper {
  /* width: 100%; */
  width: 400px;
  max-width: 400px;
  left:auto !important;
  right: auto !important;
  top:100px !important;
  border-radius: 15px 15px 0 0;
}
